.visualeditor {
  padding: 5rem;
}

.tox-tinymce-aux .tox-form strong {
  font-weight: bold;
}

.tox-tinymce-aux .tox-form em {
  font-style: italic;
}

.tox-tinymce-aux .tox-form code {
  font-size: 87.5%;
  color: #e83e8c;
  word-wrap: break-word;
}

.tox-tinymce-aux .tox-form kbd {
  padding: 0.2rem 0.4rem;
  font-size: 87.5%;
  color: #fff;
  background-color: #212529;
}
